body {
    height: 100%;
    background-image: url("../images/background.png");
    opacity: 0.99;
    
}

.container {
    width: 1025px;
}

.vertical-center {
    height: 100%;
    width: 100%;
}

.card {
    display: none;
}